// variables

@import url("https://fonts.googleapis.com/css2?family=Scada&display=swap");

$main-light: #f8fff4;
$main-grey: #070707;
$main-orange: rgba(5, 160, 90, 1);

// --
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.main-nav {
  background: $main-grey;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
}

.nav-items {
  display: flex;
  min-width: 20rem;
  justify-content: space-between;
  margin-right: 3rem;
  height: 5rem;
  align-items: center;

  li {
    list-style: none;

    a {
      text-decoration: none;
      color: $main-light;
    }
  }
}

.logo {
  height: 50px;
  width: 50px;
  background: $main-light;
  margin-top: 2rem;
  margin-left: 2rem;
}

.top-container {
  height: 100vh;
  width: 100%;
  background-color: $main-grey;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.line-mid {
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 0;
  height: 5px;
  background-color: none;
  z-index: -1;
  animation: flikr 3000ms infinite;
}

.line-high {
  width: 100vw;
  position: absolute;
  top: 47%;
  left: 0;
  height: 5px;
  background-color: none;
  animation: flikr 3000ms infinite;

  z-index: -1;
}

.line-low {
  width: 100vw;
  position: absolute;
  top: 53%;
  left: 0;
  height: 5px;
  background-color: none;
  animation: flikr 3000ms infinite;

  z-index: -1;
}

.container {
  // border: 3px solid black;
  height: 555px;
  width: 555px;
  position: relative;
  background-color: $main-grey;
  border: 3px dotted;
  border-color: #05a05a #0a50a5;
  border-radius: 50%;
  // animation: flikr 3000ms infinite;
  z-index: 2;
}

@keyframes flikr {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 5px 5px 50px $main-orange;
  }
  100% {
    box-shadow: none;
  }
}

.wave {
  position: absolute;
  right: 250px; //296
  bottom: 255px;
}

.top-wing-three {
  position: absolute;
  right: 171px;
  top: 170.5px;
}

.top-wing-two {
  position: absolute;
  right: 171px;
  top: 163px;
}

.top-wing-one {
  position: absolute;
  right: 171px;
  top: 153px;
}

.below-wing-one {
  position: absolute;
  /*! left: 138px; */
  /*! top: 385px; */
  right: 159px;
  bottom: 170px;
}

.below-wing-two {
  position: absolute;
  /*! left: 138px; */
  /*! top: 392px; */
  right: 251px;
  bottom: 163px;
}

.below-wing-three {
  position: absolute;
  /*! left: 138px; */
  /*! top: 402px; */
  right: 315px;
  bottom: 153px;
}

.one {
  left: 430px;
  top: 204px;
  position: absolute;
  color: $main-light;

  font-family: "Scada", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  line-height: 41px;
}
.two {
  left: 316px;
  top: 245px;
  position: absolute;
  color: lighten($color: $main-orange, $amount: 0);

  font-family: "Scada", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  line-height: 41px;
}
.three {
  position: absolute;
  left: 345px;
  top: 286px;
  color: $main-light;

  font-family: "Scada", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  line-height: 41px;
}
